.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255,255,255,0.2);
    border: none;
    box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px 0;
}
.search-bar .search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0,0,0,0.1);   */
}
.search-bar .search form {
    display: flex;
    flex-direction: column;
    max-width: 37vw;
    justify-content: center;
}
.search label {
    background-color: rgba(255,255,255,0.3);
    font-size: 1.4rem;
    padding: 5px 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.search input {
    margin: 5px 0 0;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 1.8rem;
}

.search form button {
    width: 48px;
    height: 48px;
    margin: 5px auto;
    border-radius: 24px;
    background-color: black;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
.search-bar .search-text {
    display: flex;
    justify-self: center;
    display: flex;
    align-items: center;
    width: 80%;
}
.search-bar .search-text p {
    background-color: rgba(0,0,0,0.2);
    padding: 5px 15px 5px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: #ccc;
    border: none;
}
@media (max-width: 600px) {
    .search-bar {
        display: grid;
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .search {
        grid-row: 1;
        width: 85%;
    }
    .search form {
        min-width: 60vw;
    }
    .search-text {
        grid-row: 2;
    }
}