.poke-info {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    border: none;
    box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 20px;
}
.poke-info .poke-view {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-items: center;
}
.name-image h2 {
    text-align: center;
}
.poke-info .poke-about {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 70%;
}
.poke-info img {
    width: 300px;
    background-color: rgb(255, 255, 255, 0.25);
    border: 7px solid rgb(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 20px;
}
.poke-info .types {
    margin-left: 45px;
}

@media (max-width: 600px) {
    .poke-info {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .poke-info .poke-view {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .poke-info .types {
        margin: 0px auto 10px;
    }
    .poke-info .poke-about {
        width: 80%;
        margin: 20px 0;
    }
}